

			<div class="container-center">

				<div class="searchbar">
					<h1>Search Bar</h1>
				</div>

				<div class="searchbutton">
					<%= link_to "Search", "#", class: "btn btn-success btn-lg" %>
				</div>

			</div>





			