
<body>
	<div class="name">
		<h1>Common Names</h1>
		<p>Scientific Name</p>
	</div>

	<fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" />
    <label class = "full" for="star5" title="Amazing"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" />
    <label class="half" for="star4half" title="Very nice"></label>
    <input type="radio" id="star4" name="rating" value="4" />
    <label class = "full" for="star4" title="Good"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" />
    <label class="half" for="star3half" title="Descent"></label>
    <input type="radio" id="star3" name="rating" value="3" />
    <label class = "full" for="star3" title="Acceptable"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" />
    <label class="half" for="star2half" title="Neutral"></label>
    <input type="radio" id="star2" name="rating" value="2" />
    <label class = "full" for="star2" title="Dissapointing"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" />
    <label class="half" for="star1half" title="Poor"></label>
    <input type="radio" id="star1" name="rating" value="1" />
    <label class = "full" for="star1" title="Bad"></label>
    <input type="radio" id="starhalf" name="rating" value="half" />
    <label class="half" for="starhalf" title="Terrible"></label>
	</fieldset>



	<div class="hardiness">
		<h1>4-9</h1>
		<p>Hardiness Zone</p>
	</div>


	<!-- Flowers button-->
	
	

<div class="container">
  
  <div class="parts">
    <!--<div class="col-lg-12">-->

     

    <!-- Flowers button-->
        <div class="flower">
        	<div class="flowertitle">	
    				<h1>Flower</h1>				
    			</div>
        	<div class="flowerbutton">
          	<button class="btn btn-default" type="button" data-target="#flowerbutton" data-toggle="modal">
             	<img src="#">
          	</button>
        	</div>
        </div>

  <!-- Fruit button-->
        <div class="fruit">
          <div class="fruittitle">  
            <h1>Fruit</h1>        
          </div>

          <div class="fruitbutton">
            <button class="btn btn-default" type="button" data-target="#fruitbutton" data-toggle="modal">
              <img src="#">
            </button>
          </div>
        </div>

 

    <!-- General button-->
        <div class="general">
          <div class="generaltitle">  
            <h1>General</h1>        
          </div>

          <div class="generalbutton">
            <button class="btn btn-default" type="button" data-target="#generalbutton" data-toggle="modal">
              <img src="#"alt="General">
            </button>
          </div>
        </div>
        
   

      

  <!-- Leaves button-->
        <div class="leaves">
          <div class="leavestitle"> 
            <h1>Leaves</h1>       
          </div>

          <div class="leafbutton">
            <button class="btn btn-default" type="button" data-target="#leafbutton" data-toggle="modal">
              <img src="#">
            </button>
          </div>
        </div>
      

  <!-- Twigs and Stems button-->
        <div class="twigs-stems">
    			<div class="twigs-stemstitle">	
    				<h1>Twigs and Stems</h1>				
    			</div>

        	<div class="twigs-stemsbutton">
          	<button class="btn btn-default" type="button" data-target="#twigs-stemsbutton" data-toggle="modal">
             	<img src="#">
          	</button>
        	</div>
        </div>

      
    <!--</div>-->
  </div>



  <!-- Flower Modal -->
  <div tabindex="-1" class="modal fade" id="flowerbutton" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span  aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Flowers</h4>
          <img src="#">
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, faucibus libero ac. Purus tincidunt, eros amet eu, mattis ac sed. Tincidunt nibh vestibulum. Non magna, lobortis vestibulum, amet et. Mattis quis tincidunt, ut voluptatem. Non ligula nostra, suscipit in donec.

  				In nisl. Magna magna sem, vel risus, mauris nunc purus. Ante in feugiat, sit phasellus suscipit, in mus facilisis. Tristique atque, erat et pede, lorem faucibus elit. Duis accumsan pulvinar.</p>
        </div>      
      </div>
    </div>
  </div>
    
  <!-- Fruit Modal -->
  <div tabindex="-1" class="modal fade" id="fruitbutton" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title"id="myModalLabel">Fruit</h4>
          <img src="#">
        </div>
        <div class="modal-body">
  				<p>Lorem ipsum dolor sit amet, faucibus libero ac. Purus tincidunt, eros amet eu, mattis ac sed. Tincidunt nibh vestibulum. Non magna, lobortis vestibulum, amet et. Mattis quis tincidunt, ut voluptatem. Non ligula nostra, suscipit in donec.

  				In nisl. Magna magna sem, vel risus, mauris nunc purus. Ante in feugiat, sit phasellus suscipit, in mus facilisis. Tristique atque, erat et pede, lorem faucibus elit. Duis accumsan pulvinar.</p>
        </div>      
      </div>
    </div>
  </div>

  <!-- Leaves Modal  -->
  <div tabindex="-1" class="modal fade" id="leafbutton" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span  aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Leaves</h4>
          <img src="#">
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, faucibus libero ac. Purus tincidunt, eros amet eu, mattis ac sed. Tincidunt nibh vestibulum. Non magna, lobortis vestibulum, amet et. Mattis quis tincidunt, ut voluptatem. Non ligula nostra, suscipit in donec.

  				In nisl. Magna magna sem, vel risus, mauris nunc purus. Ante in feugiat, sit phasellus suscipit, in mus facilisis. Tristique atque, erat et pede, lorem faucibus elit. Duis accumsan pulvinar.</p>
        </div>      
      </div>
    </div>
  </div>

  <!-- Twigs and Stems Modal -->
  <div tabindex="-1" class="modal fade" id="twigs-stemsbutton" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title"id="myModalLabel">Twigs and Stems</h4>
          <img src="#">
        </div>
        <div class="modal-body">
  				<p>Lorem ipsum dolor sit amet, faucibus libero ac. Purus tincidunt, eros amet eu, mattis ac sed. Tincidunt nibh vestibulum. Non magna, lobortis vestibulum, amet et. Mattis quis tincidunt, ut voluptatem. Non ligula nostra, suscipit in donec.

  				In nisl. Magna magna sem, vel risus, mauris nunc purus. Ante in feugiat, sit phasellus suscipit, in mus facilisis. Tristique atque, erat et pede, lorem faucibus elit. Duis accumsan pulvinar.</p>
        </div>      
      </div>
    </div>
  </div>

  <!-- General Modal -->
  <div tabindex="-1" class="modal fade" id="generalbutton" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span  aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">General</h4>
          <img src="#">
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, faucibus libero ac. Purus tincidunt, eros amet eu, mattis ac sed. Tincidunt nibh vestibulum. Non magna, lobortis vestibulum, amet et. Mattis quis tincidunt, ut voluptatem. Non ligula nostra, suscipit in donec.

  				In nisl. Magna magna sem, vel risus, mauris nunc purus. Ante in feugiat, sit phasellus suscipit, in mus facilisis. Tristique atque, erat et pede, lorem faucibus elit. Duis accumsan pulvinar.</p>
        </div>      
      </div>
    </div>
  </div>
    
</div>  










</body>