

<div class="options">
	<div class="prices">
		<h1>$5/mo</h1>
	</div>
	<div class="benefits">
		<ul>benefits</ul>
			<li>benefit 1</li>
			<li>benefit 2</li>
			<li>benefit 3</li>
			<li>benefit 4</li>
	</div>
</div>

<div class="options">
	<div class="prices">
		<h1>$10/mo</h1>
	</div>
	<div class="benefits">
		<ul>benefits</ul>
			<li>benefit 1</li>
			<li>benefit 2</li>
			<li>benefit 3</li>
			<li>benefit 4</li>
	</div>
</div>

<div class="options">
	<div class="prices">
		<h1>$150/yr</h1>
	</div>
	<div class="benefits">
		<ul>benefits</ul>
			<li>benefit 1</li>
			<li>benefit 2</li>
			<li>benefit 3</li>
			<li>benefit 4</li>
	</div>
</div>