<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @myplant.description %>
</p>
<% if @myplant.user == current_user %>
	<%= link_to 'Edit', edit_myplant_path(@myplant) %> |
<% end %>
<%= link_to 'Back', myplants_path %>
